.btn {
    width: 200px;
    margin: 2vh 0;
    padding: 1vh 0vw !important;
}

.action-btn {
    width: 40px;
}

svg {
    width: 22px;
    height: 22px;
}

.vendor-profile {
    width: 150px !important;
    height: 150px !important;
    border-radius: 100px !important;
}

.success-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    text-align: center;
}

.form-label {
    margin-bottom: .5rem;
    color: #ff6200;
    font-weight: 500;
}

select.form-control {
    appearance: auto;
    -webkit-appearance: auto;
    -moz-appearance: auto;
}

.custom-toast {
    min-width: fit-content;
    max-width: 600px;
    padding: 30px;

    .Toastify__toast-icon {
        display: none;
    }

    .Toastify__close-button {
        top: 0;
        right: 5px;
    }
}

/* Dim the background of past days */
.fc-day-past {
    background-color: #f2f2f2 !important;
    color: #aaa !important;
}

/* Dim and disable past events */
.fc-day-past .fc-event {
    opacity: 0.5 !important;
    background-color: #ccc !important;
    border-color: #bbb !important;
    pointer-events: none !important;
}

/* Dim the date number in past days */
.fc-day-past .fc-daygrid-day-number {
    color: #bbb !important;
}

.fc-event .fc-event-main {
    cursor: pointer;
}

.fc-custom{
    .fc-event-main {
        cursor: default;
    }
}

.fc-custom-active {
    background-color: #3788d8;
    color: #ffffff;
    cursor: pointer;
}

// custom-alert
.custom-alert,
.custom-spinner {
    position: absolute !important;
    top: 48%;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
}

// overlay
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000bd;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
}