body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 15px;
}

// App_header css
.App_header {
    background: #116aef;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;

    .navbar {
        padding: 0;

        .container-fluid {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo-div {
                img {
                    max-width: 170px;
                    height: 65px;
                    filter: brightness(200) contrast(100);
                    padding: 10px 0;
                    filter: drop-shadow(0 0 5px #000);
                }
            }

            .navbar-nav {
                list-style: none;
                display: flex;
                line-height: normal;
                padding: 0;
                margin: 0 0 0 0;

                li {

                    a,
                    button {
                        color: #fff;
                        text-decoration: none;
                        padding: 30px 20px;
                        display: block;
                        transition: 0.5s all;
                        margin: auto;
                        background: #f0f8ff00;

                        &:hover {
                            transition: 0.5s all;
                            border-bottom: 5px solid #000;
                        }
                    }
                }
            }
        }

        .active-menu {
            // background-color: #000 !important;
            transition: 0.5s all;
            border-bottom: 5px solid #000;

        }
    }
}

main {
    margin-top: 12.4vh;
}

// About page styles
.hero-section {
    background-image: url('../assets/home_baner.jpg');
    background-size: cover;
    background-position: center;
    height: 30vh;
    background-repeat: no-repeat;
}

.hero-section h3,
.hero-section p {
    text-shadow: 0px 0px 5px #000;
    color: black;
}

.icon-box {
    font-size: 2rem;
    color: #0d6efd;
}

.feature-card:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
}


.card_container {
    margin-top: 8vh;
    display: flex;
    justify-content: space-evenly;

    .card {
        background-image: linear-gradient(to top left, var(--bs-info-bg-subtle), var(--bs-warning-bg-subtle));

        svg {
            width: 70px;
            height: 70px;
            margin: 10px auto;
            color: #116aef;
        }

        text-align: center;
        margin: 20px 0;
        width: 340px;
        padding: 20px;
        box-shadow: 0 0 15px 0 #999;
    }
}

.vendor-baner {
    height: 300px !important;
    width: 100%;
    background-repeat: no-repeat;
}

.VendorDetailPage{
    margin-top: 12vh;
}

.clientTable {
    td:nth-child(16) {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 150px;
    }

    .action-btn {
        text-align: center;

        .btn {
            padding: 0;
            margin: 3px;

            svg {
                width: 20px;
                height: 20px;
            }
        }
    }
}



// footer styles
.footerLogo {
    width: 200px;
    filter: brightness(200) contrast(100);
    margin-bottom: 20px;
}

// glass card styles
.glass-card {
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.8);
    transition: transform 0.3s ease;
}

.glass-card:hover {
    transform: translateY(-5px);
}